@import '~antd/dist/antd.css';
.row {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-gap: 10px;
    margin: 10px;
}

.block {
    height: 80px !important;
    width: 80px !important;
    font-size: xx-large !important;
    background-color: black !important;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
}

.wrapper {
    text-align: center;
    margin: 10px 300px 0px 300px;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
}

ol {
    list-style-type: none;
    margin: 3px;
}

.App {
    text-align: center;
}

.Header,
.Footer,
.Sider,
.Content {
    background-color: whitesmoke !important;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Sider-Game {
    margin-right: 250px;
}

.Content-Sider {
    background-color: whitesmoke !important;
}